# ValidationResult


## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**errors** | [**Vector{Error}**](Error.md) | A list of validation errors. | [default to nothing]


[[Back to Model list]](../README.md#models) [[Back to API list]](../README.md#api-endpoints) [[Back to README]](../README.md)


